.dbviewer-container .tables-container{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.dbviewer-container .tableName{
  margin-left: 5px;
  margin-right: 5px;
}

.dbviewer-container .tableButton{
  width: 100%;
  background: #E30016;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 25px;
  transition: filter 0.2s;
}

.dbviewer-container .tableButtonDisabled{
  width: 30px;
  background: gray;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 25px;
  transition: filter 0.2s;
}

.dbviewer-container .tableButtonDisabled:hover{
  cursor: default;
}

.dbviewer-container .tableButton,
.dbviewer-container .tableButtonDisabled{
  margin-left: 5px;
  margin-right: 5px;
}

div.dbviewer-container {
  margin-right: 30px;
  display: inline;
  justify-content: center;
  align-items: center;
}

.dbviewer-container input{
  width: 100%; 
  margin-top: 10px;
  border-width: 0px;
  padding: 10px;
  border-radius: 8px;
}

.dbviewer-container .rawInput{
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
}

.dbviewer-container .rawInput input{
  width: 90%;
}

.dbviewer-container .rawInput .tableButton{
  width: 9%;  
  margin-top: 10px;
  margin-right: 0;

}

.dbviewer-container .keyInput{
  margin-left: 20%;
  margin-right: 20%;
}

table.dbTable {
  border-collapse: collapse;
  width: 100%;
}

table.dbTable, .dbTable th, .dbTable td {
  border: 1px solid #cdcdcd;
  padding: 5px;

}

.dbTable th {
  color: white;
  background-color: gray;
  font-weight: 300;
  height: 25px;
  transition: opacity 0.1s;
}

.dbTable th:hover{
  opacity: 70%;
  cursor: pointer;
}

.dbviewer-container tr:nth-child(even) {
  background-color: #e8e8e8;
}

.dbviewer-container tr{
  background-color: white;
}


.dbviewer-content{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dbviewer-container .pageNavContainer{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dbviewer-container .pageNavContainer .tableButton{
  width: 30px;
  margin-top: 0px;
}

.dbviewer-container .dbTable{
  margin-left: 20px;
  margin-right: 20px;
}
