app/web-build/asset-manifest.json
app/web-build/expo-service-worker.js
app/web-build/favicon-16.png
app/web-build/favicon-32.png
app/web-build/favicon.ico
app/web-build/index.html
app/web-build/manifest.json
app/web-build/precache-manifest.a4c5a1270fda38825af85b80fc122330.js
app/web-build/serve.json
app/web-build/service-worker.js
app/web-build/fonts/AntDesign.ttf
app/web-build/fonts/Entypo.ttf
app/web-build/fonts/Feather.ttf
app/web-build/fonts/FontAwesome.ttf
app/web-build/fonts/FontAwesome5_Brands.ttf
app/web-build/fonts/FontAwesome5_Solid.ttf
app/web-build/fonts/Foundation.ttf
app/web-build/fonts/Ionicons.ttf
app/web-build/fonts/MaterialCommunityIcons.ttf
app/web-build/fonts/MaterialIcons.ttf
app/web-build/fonts/SimpleLineIcons.ttf
app/web-build/pwa/apple-touch-icon/apple-touch-icon-180.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-640x1136.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-750x1334.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-828x1792.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1125x2436.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1242x2208.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1242x2688.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1536x2048.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1668x2224.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1668x2388.png
app/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-2048x2732.png
app/web-build/pwa/chrome-icon/chrome-icon-144.png
app/web-build/pwa/chrome-icon/chrome-icon-192.png
app/web-build/pwa/chrome-icon/chrome-icon-512.png
app/web-build/static/js/2.3f4f571b.chunk.js
app/web-build/static/js/2.3f4f571b.chunk.js.map
app/web-build/static/js/app.8e74d0c0.chunk.js
app/web-build/static/js/app.8e74d0c0.chunk.js.map
app/web-build/static/js/runtime~app.b3244af7.js
app/web-build/static/js/runtime~app.b3244af7.js.map
app/web-build/static/media/logo_green_nobg.bc121338.png
app/.expo/packager-info.json
app/.expo/settings.json
app/.expo/packager-info.json
app/.expo/settings.json
app/node_modules/.cache/terser-webpack-plugin/content-v2/sha512/10/f6/adb00fab2b298b0379f3df7f2afc51aabad0b27f3f314e4cc4c763960213ed199b2de404bd61456833c309fdb59abcce50683f3abbd7af235c731a98855b
app/node_modules/.cache/terser-webpack-plugin/content-v2/sha512/1e/6a/d2f8a24716453fa49e74fd08ec61276c6fa57b5ee6a6fb16aec38d984c786b319e071ad63b7314b38aacf0d17de32ff95222bc7778b02ac80fbbe867deee
app/node_modules/.cache/terser-webpack-plugin/content-v2/sha512/7e/08/9f968d3fc4bab3a894e55bb12fbb21c1573eb65fd3c65270d0ee28f6dc4c455e2c683f1e9615acaf7ad73f2d419bf37a31cdf483d9b73b39f7b40afcfc03
app/node_modules/.cache/terser-webpack-plugin/index-v5/47/da/7a3af2783bb625a533fe32690505df45325be97b13a12ad33244cdda8a20
app/node_modules/.cache/terser-webpack-plugin/index-v5/48/8a/472813719b7f1ecab420afcee81dfd42d2f0acc66281a45fc08f197f0fd3
app/node_modules/.cache/terser-webpack-plugin/index-v5/ef/3b/cf9201ad7be4787ff97775b5c90d5f6237096fdd157ef0075c6d774b15c9
app/.expo/packager-info.json
app/.expo/settings.json
app/src/variables.js
app/.expo/packager-info.json
backend/src/certificado/eace8c61d26fe0ee.crt
backend/src/certificado/eace8c61d26fe0ee.pem
backend/src/certificado/gd_bundle-g2-g1.crt
backend/src/certificado/gd_bundle01.crt
backend/src/certificado/gd_bundle02.crt
backend/src/certificado/gd_bundle03.crt
backend/src/certificado/key.key
backend/src/certificado/a.crt
backend/src/certificado/generated-csr.txt
backend/src/certificado/hash.txt
backend/src/certificado/private.txt
backend/src/certificado/server.key
app/google-services.json
app/app.json
BACKUP_PRODUTOS_CADASTRADOS.sqlite
