.newClientInfo-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.newClientInfo-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newClientInfo-container .content section{
    width: 100%;
    max-width: 380px;
}

.newClientInfo-container .content section h1{
    margin: 32px 0 18px;
    font-size: 32px;
}

.newClientInfo-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.newClientInfo-container .content section form{
    width: 100%;
    max-width: 450px;
}

.newClientInfo-container .content form input, select, textarea, .valueText{
    margin-top: 8px;
}
    
.newClientInfo-container .content select{
    width: 49%;
}

.newClientInfo-container .content select.disabled{
    opacity: 0.6;
}

.newClientInfo-container .content .formCell{
    display: flex;
    justify-content: space-between;
}

.newClientInfo-container .valueText strong{
    color: #41414d;
    font-size: 15px;
}

