
.panel-container{
  width: 100%;
  max-width: 1180px;
  padding: 32px 100px;
  align-items: center;
  margin: auto;

}


.panel-container header{
  
  display: flex;
  align-items: center;
}

.panel-container header span{
  
  font-size: 20px;
  margin-left: 24px;

}

.panel-container header a{
  width: 260px;
  margin-left: auto;
  margin-top: 0;

}

.panel-container header .button:hover{
  color: #fff;
}

.panel-container header button{
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.2s;

}
.panel-container header button:hover{
  border-color: #999999;
}

.panel-container h1{
  margin-top: 80px;
  margin-bottom: 24px;
}

.panel-container ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;

}

.panel-container ul li{
  background: #Fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  
}

.panel-container ul li.notAvailable{
  opacity: 0.5;
}

.panel-container ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  transition: opacity 0.2s;
  background: transparent;
}

.panel-container ul li img {
  position: absolute;
  border-radius: 8px;
  width: 40%;
  right: 24px;
  bottom: 24px;
  border: 0;
}


.panel-container ul li button:hover{
  opacity: 0.9;
}

.panel-container ul li button .editButton {
  position: absolute;
  right: 40px;
}

.panel-container ul li button .eyeButton {
  position: absolute;
  right: 80px;
}

.panel-container ul li strong{
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.panel-container ul li p+strong{
  margin-top: 32px;
}

.panel-container ul li p{
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}
