.newPaymentInfo-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newPaymentInfo-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 8px;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

.newPaymentInfo-container .content section{
    width: 100%;
    max-width: 380px;
}

.newPaymentInfo-container .content section h1{
    margin: 32px 0 18px;
    font-size: 32px;
}

.newPaymentInfo-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.newPaymentInfo-container .content section form{
    width: 100%;
    max-width: 450px;
}

.newPaymentInfo-container .content form select{
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}
    
.newPaymentInfo-container .content select{
    width: 100%;
}

.newPaymentInfo-container .content select.disabled{
    opacity: 60%;
}

.newPaymentInfo-container .content .valueText{
    margin-bottom: 8px;
}
.newPaymentInfo-container .content strong{
    color: #41414d;
    font-size: 18px;    
    

}


.newPaymentInfo-container .content .changeInput,
.newPaymentInfo-container .content select,
.newPaymentInfo-container .content button{
    width: 100%;
    min-width: 300px;
    height: 60px;
}

.newPaymentInfo-container .content div
{
    text-align: center;
}



